.visible {
  color: red;
}
.visible .c {
  color: green;
}
.visible {
  color: green;
}
.visible:hover {
  color: green;
}
.visible + .visible {
  color: green;
}
.visible + .visible .sub {
  color: green;
}
.b {
  color: red;
}
.b .c {
  color: green;
}
.b {
  color: green;
}
.b:hover {
  color: green;
}
.b {
  color: green;
}
.b + .b {
  color: green;
}
.b + .b .sub {
  color: green;
}
.y {
  pulled-in: yes /* inline comment survives */;
}
/* comment pulled in */
.visible {
  extend: test;
}
.test-rule-mediaq-import {
  color: green;
  test: 340px;
}
@media (max-size: 450px) {
  .test-rule-mediaq-import {
    color: red;
  }
}
.test-rule {
  color: red;
}
.test-rule:first-child {
  color: blue;
}
@keyframes some-name {
  property: value;
}
@supports (animation-name: test) {
  @keyframes some-name {
    property: value;
  }
  .selector {
    color: red;
  }
}
div {
  this isn't very valid CSS.
}
this isn't very valid CSS.
